template(name='voting')
    .ui.center.aligned.segment
        i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
        i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
        // |#{points}

template(name='rating')
    .ui.hidden.fitted.divider
    .ui.massive.star.rating


template(name='toggle_friend')
    if is_friend
        #remove_friend.ui.button
            i.minus.red.icon
            |Unfriend
    else
        #add_friend.ui.button
            i.plus.green.icon
            |Friend


template(name='published')
    .ui.hidden.fitted.divider
    if published
        #unpublish.ui.green.button
            |Published
    else
        #publish.ui.button
            |Private




template(name='edit_this_button')
    .ui.hidden.fitted.divider
    unless is_editing
        .edit_this.ui.button
            i.red.configure.icon
            |Edit
    else
        .save_doc.ui.button
            i.green.check.icon
            |Save

template(name='edit_link')
    unless is_editing
        a.edit_this Edit
    else
        .save_doc.ui.button
            i.green.check.icon
            |Save

template(name='add_to_cart')
    .ui.fluid.button
        i.large.add.to.cart.icon
        |Add to Cart

template(name='delete_button')
    .ui.hidden.fitted.divider
    #delete.ui.red.icon.button
        i.trash.icon
        
template(name='delete_link')
    a#delete(href='#') Delete

template(name='featured')
    .field
        if featured
            #make_unfeatured.ui.icon.button
                i.toggle.on.icon
        else
            #make_featured.ui.icon.button
                i.toggle.off.icon
        if featured
            .ui.green.label Featured
        else
            .ui.label Unfeatured

template(name='favorite')
    .ui.hidden.fitted.divider
    i.heart.large.link.icon.favorite_item(class=favorite_item_class)
    if favorite_count
        | #{favorite_count}
