template(name='edit')
    with doc
        .ui.container.segment
            .ui.segment
                .ui.header elements
                each elements
                    .ui.labeled.icon.button
                        i.plus.icon
                        |#{this}
            .ui.center.aligned.header edit doc
            .ui.form
                .field
                    .label doc tags
                    each tags
                        .ui.labeled.icon.button.docTag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.input
                        i.plus.icon
                        input#addTag(type=text placeholder='add...' autofocus='')
                +title
                +number
                +price
                .field
                    .label location
                    input#place(type='text' placeholder='add address')
                .field
                    .label date/time
                    input#datetimepicker(type="text" value=dateTime placeholder='add date/time')
                    .ui.button.clearDT clear date/time
                if keywords
                    .ui.segment
                        .ui.header suggestions
                        if keywords
                            div keywords
                                each keywords
                                    .docKeyword.ui.compact.button(class=docKeywordClass) #{text}
                        if concepts
                            div concepts
                                each concepts
                                    .docKeyword.ui.compact.button(class=docKeywordClass) #{text}
                if sentiment
                    |sentiment: #{docSentiment.type} #{docSentiment.score}
                if language
                    |language: #{language}
                if taxonomy
                    p taxonomy
                    each taxonomy
                        .ui.label
                            div #{label}
                            // div Score: #{score}
                            // div Confident: #{confident}
                // .ui.basic.segment
                //     #analyzeBody.ui.basic.button analyze body
                //     +CodeMirror id="body" options=editorOptions code=body
                +content
            .ui.basic.center.aligned.segment
                #saveDoc.ui.large.button save
                #deleteDoc.ui.button delete