with event
    .ui.container
        a.ui.button(href='/events')
            i.left.arrow.icon
            |events
        .header-wrapper
            if image_id
                img.ui.centered.image(src="{{c.url image_id }}")
            else if eventbrite_image
                img.ui.centered.image(src=eventbrite_image)
            // .event-header
            //     h2 #{title}
            //     h3
            //         .sub.header #{start_date} to #{end_date} 
            //         .sub.header #{start_time} to #{end_time}
        .ui.basic.segment
            .ui.stackable.divided.grid
                .eleven.wide.column
                    h1.ui.header #{title}
                    .description
                        |!{content}
                    +user_blurb
                .five.wide.column
                    if url
                        a.impact-button-dark(href=url target='_window')
                            i.ticket.icon
                            | register on eventbrite
                    else if link
                        a.impact-button-dark(href=link target='_window')
                            i.ticket.icon
                            | register on eventbrite
                    .ui.dividing.header when
                    .ui.basic.segment
                        h3
                            .ui.sub.header #{day} 
                            .ui.sub.header #{start_time} to #{end_time}
                    .ui.dividing.header where
                    .ui.basic.segment
                        h3
                            a.ui.sub.header(href="http://maps.google.com/?q=#{location}" target='_blank') 
                                |#{location}
                                i.external.small.icon
                                // +map 
                    .ui.dividing.header going
                    .ui.sub.header #{slots} slots
                    +attach_user
                    .ui.divided.list
                        each attached_users
                            .item
                                .image
                                    a(href="/profile/#{username}")
                                        img.ui.avatar.image(src="{{c.url profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                                .content
                                    a.header(href="/profile/#{username}")
                                        if profile.name 
                                            |#{profile.name}
                                            // |#{profile.first_name} #{profile.last_name}
                                        else
                                            |#{username}
                                    // .description
                                    //     each five_tags
                                    //         .ui.tiny.basic.label #{this}
                                    .description
                                        // // +staus_indicator
                                        // |last seen #{last_login}

                    
                    .ui.dividing.header tags
                    .ui.basic.segment
                        each tags
                            .ui.basic.label #{this}
                    if isInRole 'admin'
                        .ui.dividing.header 
                            i.red.configure.icon
                            |admin
                        a.ui.basic.fluid.button(href="/event/edit/#{this._id}") 
                            i.pencil.icon
                            |edit
                        if published
                            .ui.green.label published
                        else
                            .ui.red.label unpublished                        
                        if featured
                            .ui.green.label featured
                        else
                            .ui.red.label unfeatured
                            